body {
    height: 100%;
    background: linear-gradient(90deg, #EFE8BB 50%, #E9E9EB 50%);
}

img{
    align:left;
    position: absolute;
    top: 90px;
    left: 250px;
    width:284px;
    }

h1{
    font-family:times new roman;
    font-size: 65px;
    color: #48433D;
    text-align: right;
    position: relative;
    top: 140px;
    right: 250px;
    }

h2{
    font-family: times new roman;
    font-size: 18px;
    text-align: right;
    position: relative;
    top: 170px;
    right: 450px;
    color: #48433D;
    }
p{
    font-family:times new roman;
    font-size: 14px;
    position:relative;
    left: 640px;
    top: 130px;}

.info{
    width: 100%;
    height: 300px;
    position: relative;
    top: 300px;
    background-color: #e2c6c2;}
h3{
    text-align: center;
    font-size: 16px;
    position: relative;
    top: 70px;
    font-family: times new roman;
    color: #48433D;
    }
